html{
    font-size: 15px;
}
body
{
    background-color: rgb(230, 121, 58);
}
a{
    color: rgb(18, 17, 17);
}
a :visited
{
    color: blue;
}
a:hover a:active
{
    color: rgb(194, 78, 25);
}
table,tr,th,td,caption
{
    border: 3px solid rgb(0, 0, 0);
    font-family: 'Courier New', Courier, monospace;
    border-collapse: collapse;
    padding: 1rem;
}
